<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="cool" verbose="1">
    <test name="cool-lang">
        <classes>
            <class name="com.leon.cool.lang.TestHairyscary"/>
            <class name="com.leon.cool.lang.TestHello"/>
            <class name="com.leon.cool.lang.TestIO"/>
            <class name="com.leon.cool.lang.TestPalindrome"/>
            <class name="com.leon.cool.lang.TestArith"/>
            <class name="com.leon.cool.lang.TestBookList"/>
            <class name="com.leon.cool.lang.TestCell"/>
            <class name="com.leon.cool.lang.TestComplex"/>
            <class name="com.leon.cool.lang.TestCool"/>
            <class name="com.leon.cool.lang.TestFactorial"/>
            <class name="com.leon.cool.lang.TestLam"/>
            <class name="com.leon.cool.lang.TestList"/>
            <class name="com.leon.cool.lang.TestNewComplex"/>
            <class name="com.leon.cool.lang.TestPrimes"/>
            <class name="com.leon.cool.lang.TestSortList"/>
            <class name="com.leon.cool.lang.tokenizer.TestTokenizer"/>
            <!--<class name="com.leon.cool.lang.TestGraph"/>-->
            <!--<class name="com.leon.cool.lang.TestLife"/>-->
        </classes>
    </test>
</suite>